@using Front.Models;
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">An example on how to render a list with ASP.NET Razor</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("Todo/List", Model.Todos)
    </div>
</div>